body {
  background: rgba(245, 245, 245, 1);
}

.carts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 270px;
}

.carts h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1.2%;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.cart-container {
  padding: 0 20px 90px 20px;
}

h2 {
  margin-bottom: 20px;
}

.cart-item {
  background: white;
  border-radius: 16px;
  padding: 10px 20px;
  display: flex;
  position: relative;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.cart-item img {
  width: 77px;
  height: 48px;
  margin-right: 12px;
  border-radius: 10px;
}

.details {
  flex: 1;
}

.details h3 {
  color: rgb(33, 34, 34);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.6%;
  text-align: left;
}

.details p {
  color: rgb(100, 116, 139);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.5%;
  text-align: left;
}

.details span {
  color: rgb(220, 38, 38);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.6%;
  text-align: left;
  border-top: 1px solid rgb(245, 245, 245);
  padding: 8px 0;
}

.price {
  display: block;
  color: red;
  font-weight: bold;
  margin-top: 4px;
}

.quantity {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  width: fit-content;
  border-radius: 14px;
  background: rgb(234, 236, 241);
  width: 100%;
}

.quantity button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  background: rgb(255, 255, 255);
}

.quantity span {
  min-width: 20px;
  color: rgb(33, 34, 34);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.7%;
  text-align: center;
}

.remove {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}

.total {
  text-align: right;
  color: rgb(54, 65, 79);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.checkout {
  width: 100%;
  background: #e60000;
  color: white;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 14px;
  margin-top: 20px;
  cursor: pointer;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.nav-item {
  text-align: center;
  font-size: 12px;
  color: #999;
}

.nav-item.active {
  color: red;
}

.nav-item img {
  width: 24px;
  height: 24px;
}
