.login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.language__selector__text {
  color: rgba(33, 34, 34, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.7%;
}

.language__selector {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #333;
  border: 1px solid rgba(203, 213, 225, 0.4);
  padding: 11px 10px;
  border-radius: 14px;
  background-color: #fff;
}

.language__img {
  width: 20px;
  height: 20px;
}

.language__logo {
  margin: 44px 0 56px 0;
}

.logo {
  max-width: 180px;
  max-height: 60px;
}
