@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: 0.5s;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: rgb(246, 247, 249);
}

#product__body {
  background: #fff !important;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
